
.vscode/c_cpp_properties.json
mps.exe
ch2/makefile
*.prof
*.vtu
*.o
*.gch
*.exe
CG_method/Eigen/Cholesky
CG_method/Eigen/CholmodSupport
*.txt
CG_method/Eigen/Core
CG_method/Eigen/Dense
CG_method/Eigen/Eigen
CG_method/Eigen/Eigenvalues
CG_method/Eigen/Geometry
CG_method/Eigen/Householder
CG_method/Eigen/IterativeLinearSolvers
CG_method/Eigen/Jacobi
CG_method/Eigen/LU
CG_method/Eigen/MetisSupport
CG_method/Eigen/OrderingMethods
CG_method/Eigen/PardisoSupport
CG_method/Eigen/PaStiXSupport
CG_method/Eigen/QR
CG_method/Eigen/QtAlignedMalloc
CG_method/Eigen/Sparse
CG_method/Eigen/SparseCholesky
*.h
CG_method/Eigen/SparseCore
CG_method/Eigen/SparseLU
CG_method/Eigen/SparseQR
CG_method/Eigen/SPQRSupport
CG_method/Eigen/StdDeque
CG_method/Eigen/StdList
CG_method/Eigen/StdVector
CG_method/Eigen/SuperLUSupport
CG_method/Eigen/SVD
CG_method/Eigen/UmfPackSupport
